<div class="card-body">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row centrifyComponentPadding">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">View Asset</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="searchInput1">Search Something</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control"
                                                id="searchInput1"
                                                placeholder="Type something..">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i
                                                        class="fas fa-search"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group-edited">
                                        <label for="searchInput2">Search Something</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control"
                                                id="searchInput2"
                                                placeholder="Type something..">
                                            <div class="input-group-append">
                                                <span class="input-group-text"><i
                                                        class="fas fa-search"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2 centralize centrify">
                                    <br>
                                    <button class="btn btn-primary">
                                        <i class="fas fa-cog"></i>
                                        <span>Setup</span>
                                    </button>
                                </div>
                                <div class="col-md-2 centralize centrify">
                                    <br>
                                    <button class="btn btn-success h3rem" (click)="openDialog()">
                                        <i class="fas fa-plus"></i> ADD Asset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-primary">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3 class="card-title">Asset List</h3>
                                </div>
                                <div class="col-md-6">
                                    <div class="card-tools">
                                        <button class="btn btn-primary">
                                            <i class="fas fa-filter"></i> Filter
                                        </button>
                                        <button class="btn btn-primary">
                                            <span class="clear-all">Clear All</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">

                                <div class="col-md-3">
                                    <button class="btn btn-info">
                                        <i class="fas fa-file-import"></i> Import Asset
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-success" (click)="convertToCSV()">
                                        <i class="fas fa-file-export"></i> Export to CSV
                                    </button>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-danger"(click)="convertToPDF()">
                                        <i class="fas fa-file-export"></i> Export to PDF
                                    </button>
                                </div>
                            </div>
                        </div>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Serial No</th>
            <th scope="col">Sticker Id</th>
            <th scope="col">Allocated Room Id</th>
            <th scope="col">Current Room Id</th>
            <th scope="col">Model Name</th>
            <th scope="col">Model Id</th>
            <th scope="col">Building Id</th>
            <th scope="col">User Name</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of dataSource; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ data.stickerId }}</td>
            <td>{{ data.currentRoomId }}</td>
            <td>{{ data.allocatedRoomId }}</td>
            <td>{{ data.assetModelName }}</td>
            <td>{{ data.assetModelId }}</td>
            <td>{{ data.buildingId }}</td>
            <td>{{ data.allocatedUserId }}</td>
          </tr>
        </tbody>
      </table>

      <div #popupOverlay class="popup-overlay" [hidden]="!showPopup">
        <div class="popup-content">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Add Asset</h3>
            </div>
            <div class="card-body">
              <form [formGroup]="asset">
                <div class="form-group">
                  <label for="name">Sticker Id</label>
                  <input type="text" id="name" class="form-control" formControlName="stickerId">
                  <div *ngIf="asset.get('stickerId').invalid && asset.get('stickerId').touched" class="text-danger">
                    Sticker Id is required
                  </div>
                </div>
                  <div class="form-group">
                    <label for="selectedOption">Current Room id</label>
                    <select id="selectedOption" class="form-control" formControlName="currentRoomId"
                      (change)="change($event)">
                      <option *ngFor="let c of countryService.roomId" [value]="c.roomId">{{ c.roomId }}</option>
                    </select>
                    <div *ngIf="asset.get('currentRoomId').invalid && asset.get('currentRoomId').touched" class="text-danger">
                      Current Room Id is required
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="selectedOption">Allocated Room id</label>
                    <select id="selectedOption" class="form-control" formControlName="allocatedRoomId">
                      <option *ngFor="let c of countryService.roomId" [value]="c.roomId">{{ c.roomId }}</option>
                    </select>
                    <div *ngIf="asset.get('allocatedRoomId').invalid && asset.get('allocatedRoomId').touched" class="text-danger">
                      Allocated Room Id is required
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="name">Model Name</label>
                    <input type="text" id="name" class="form-control" formControlName="assetModelName">
                    <div *ngIf="asset.get('assetModelName').invalid && asset.get('assetModelName').touched" class="text-danger">
                      Asset Model Name  is required
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="name">Model Id</label>
                    <input type="text" id="name" class="form-control" formControlName="assetModelId">
                    <div *ngIf="asset.get('assetModelId').invalid && asset.get('assetModelId').touched" class="text-danger">
                      Asset Model Id  is required
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="selectedOption">Building id</label>
                    <select id="selectedOption" class="form-control" formControlName="buildingId">
                      <option *ngFor="let c of countryService.buildings" [value]="c.buildingId">{{ c.buildingId }}</option>
                    </select>
                    <div *ngIf="asset.get('buildingId').invalid && asset.get('buildingId').touched" class="text-danger">
                      Building Id is required
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="selectedOption">User Name</label>
                    <select id="selectedOption" class="form-control" formControlName="allocatedUserId">
                      <option *ngFor="let user of users" [value]="user.userName">{{ user.userName }}</option>
                    </select>
                    <div *ngIf="asset.get('allocatedUserId').invalid && asset.get('allocatedUserId').touched" class="text-danger">
                      User Name is required
                    </div>
                  </div>
                <!-- Add more form controls as needed -->
                <button type="submit" class="btn btn-primary" [disabled]="!(asset.valid)" (click)="onSubmit()">Submit</button>
                <button type="close" class="btn btn-primary" style="margin-left: 1rem;" (click)="closePopup()">Close</button>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
