
<div  class="popup-overlay">
  <div class="popup-content">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Country Details</h3>
      </div>
      <div class="card-body">
        <form [formGroup]="buildingForm">
          <!-- <div class="form-group">
            <label for="userId">User ID</label>
            <select class="form-control" formControlName="userId" (change)="userSelection($event)" >
              <option *ngFor="let user of users" [value]="user.userId" >{{user.userId}}</option>
            </select>
          </div> -->
          <div class="form-group">
            <label for="userName">Country Name</label>
            <input type="text" class="form-control" formControlName="countryName">
          </div>
          <!-- <div class="form-group">
            <label for="isActive">Is Active</label>
            <input type="text" class="form-control" formControlName="isActive">
          </div> -->
          <div class="form-group">
            <label for="isActive">Active Status : </label>
            <button type="button" class="toggle-button" (click)="toggleIsActive()">
              {{ buildingForm.get('isActive').value ? 'Active' : 'Inactive' }}
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="onNoClick()">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="onOkClick()" [disabled]="!(buildingForm.valid)">Ok</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
